.madWrapper h2, p{
    padding: 0% 25%;
    text-align: left;
}

.madWrapper {
    text-align: center;
}

.madWrapper img {
    max-width: 50%;
    max-height: 50%;
}

.madWrapper a {
    font-weight: bold;
    text-align: center;
}